<section class="register">
    <div class="container-fluied">
        <div class="row g-0">
            <div class="col-md-8 m-auto py-5 col-sm-12">
                <div class="w-100 h-100 d-flex justify-content-center container px-5 flex-column">
                    <a class="mb-5 text-main text-center fs-3 fw-semibold" routerLink="/home">Logo</a>
                    <form class="fw-medium main-text-color" [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
                        <h1 class="fs-3 mb-5 text-main position-relative">Fill The Form</h1>
                        <!-- City -->
                        <div class="mb-4">
                            <label for="city" class="form-label">City</label>
                            <select class="form-select" aria-label="Default select example" formControlName="city">
                                <option selected [value]="3">Alexandria</option>
                                <option [value]="1">Cairo</option>
                                <option [value]="2">AboTesht</option>
                            </select>
                        </div>
                        <!-- CareerLevel  -->
                        <div class="mb-4">
                            <label for="CareerLevel" class="form-label">CareerLevel</label>
                            <select class="form-select" aria-label="Default select example"
                                formControlName="careerLeve">
                                <option selected [value]="1">Student</option>
                                <option [value]="3">Experienced</option>
                                <option [value]="2">FreshGraduate</option>
                            </select>
                        </div>
                        <!-- YearsOfExperience  -->
                        <div class="mb-4 ">
                            <label for="YearsOfExperience" class="form-label">Years Of Experience</label>
                            <input #inputYearsOfExperience formControlName="yearsOfExperience" type="number"
                                class="form-control" id="YearsOfExperience ">
                            <ng-container
                                *ngIf="RegisterForm.get('yearsOfExperience')?.touched ||inputYearsOfExperience.value.length>0">
                                <p *ngIf="RegisterForm.get('yearsOfExperience')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">YearsOfExperience is
                                    required!</p>
                                <p *ngIf="RegisterForm.get('yearsOfExperience')?.getError('min')"
                                    class="alert alert-danger p-2 my-2">YearsOfExperience must
                                    be at least 1 year</p>
                                <p *ngIf="RegisterForm.get('yearsOfExperience')?.getError('max')"
                                    class="alert alert-danger p-2 my-2">Invalid Number !</p>
                            </ng-container>
                        </div>
                        <!-- JobLocationLookingFor  -->
                        <div class="mb-4">
                            <label for="JobLocationLookingFor" class="form-label">Job Location Looking For</label>
                            <select class="form-select" aria-label="Default select example"
                                formControlName="jobLocationLookingFor">
                                <option selected [value]=3>Alexandria</option>
                                <option [value]=1>Cairo</option>
                                <option [value]=2>AboTesht</option>
                            </select>
                        </div>
                        <!-- JobTitle  -->
                        <div class="mb-4">
                            <label for="jobTitle" class="form-label">Job Title</label>
                            <select class="form-select" aria-label="Default select example" formControlName="jobTitle">
                                <option selected value="Babysitter">Babysitter</option>
                                <option value="Nurse">Nurse</option>
                                <option value="Caregiver">Caregiver</option>
                            </select>
                        </div>

                        <!-- PricePerDay  -->
                        <div class="mb-4 ">
                            <label for="PricePerDay" class="form-label">Price Per Day</label>
                            <input #inputPricePerDay formControlName="pricePerDay" type="number" class="form-control"
                                id="PricePerDay">
                            <ng-container
                                *ngIf="RegisterForm.get('pricePerDay')?.touched ||inputPricePerDay.value.length>0">
                                <p *ngIf="RegisterForm.get('pricePerDay')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">
                                    price per day is
                                    required!</p>
                                <p *ngIf="RegisterForm.get('pricePerDay')?.getError('min')"
                                    class="alert alert-danger p-2 my-2">
                                    price per day must
                                    be at least 100 egp </p>
                                <p *ngIf="RegisterForm.get('pricePerDay')?.getError('max')"
                                    class="alert alert-danger p-2 my-2">price per day
                                    can not exceed
                                    1000 egp</p>
                            </ng-container>
                        </div>
                    </form>
                    <form [formGroup]="caregiverForm" (ngSubmit)="onSubmit()">
                        <div class="mb-4">
                            <label for="resume" class="form-label">Resume</label>
                            <input type="file" formControlName="resume" id="resume" class="form-control" />
                        </div>
                        <!-- CriminalRecords  -->
                        <div class="mb-4">
                            <label for="CriminalRecords" class="form-label">Criminal Records</label>
                            <input type="file" formControlName="criminalRecords" id="criminalRecords"
                                class="form-control" />
                        </div>
                        <!-- UploadPhoto  -->
                        <div class="mb-4">
                            <label for="UploadPhoto" class="form-label">Upload Photo</label>
                            <input type="file" formControlName="uploadPhoto" id="uploadPhoto" class="form-control" />
                        </div>

                        <button [disabled]="caregiverForm.invalid" type="submit"
                            class="btn-main mb-3 d-block m-auto w-30">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                            Register</button>
                    </form>
                    <p *ngIf="message" class="alert alert-danger p-2 my-2 ">{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</section>