<section>
    <div class="container py-5">
        <div class=" row gap-5 align-items-center border border-2 border-main rounded-3 p-3 mb-4">
            <div class="col-xl-2 col-md-3 col-sm-12  ">
                <img src="./assets/images/nurse-pic.png">
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="d-flex flex-column content">
                    <h2 class="text-main">name</h2>
                    <h3 class="fs-5">Role</h3>
                    <h3 class="fs-5"><i class="fa-solid fa-location-dot text-main d-inline me-2"></i><span
                            class="text-muted">Adressssssssssssssssss</span></h3>
                    <div class="d-flex gap-4  btns">
                        <a class="btn-main">Reserve</a>
                        <a class="btn-main-light">Show resume</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 gap-5">
            <div class="col-xl-8 border border-1 border-main rounded-3 p-5">
                <h2 class="text-main">Bio</h2>
                <p class="lh-lg grey-text-color">I am a person who is energetic, self-motivated, dependable,
                    responsible,
                    and hardworking. I am a seasoned
                    team player
                    who can adjust to any demanding scenario. I can operate well in a collaborative setting as well as
                    on my
                    own initiative.
                    I can operate well under pressure and meet tight deadlines.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry’s standard
                    dummy text ever since 1200.</p>
            </div>
            <div class="col-xl-3 shadow ms-auto p-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>price/night</h3>
                    <span class="d-flex gap-2">
                        <i class="fa-solid fa-star fs-5 rating-color">
                        </i>
                        <p class="text-muted">5.0</p>
                    </span>

                </div>
                <div class="d-flex align-items-center border gap-5 rounded-3">
                    <div class="p-2 small-fs pe-4">
                        <p class="fw-bold mb-0 ">Start From</p>
                        <span class="grey-text-color">23/02/2024</span>
                    </div>
                    <div class="border-0 border-start p-2 small-fs">
                        <p class="fw-bold mb-0">End</p>
                        <span class="grey-text-color">23/02/2024</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 gap-5">
            <div class="col-xl-8 border border-1 border-main rounded-3 p-5">
                <h2 class="text-main">Personal information</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="location mb-4">
                            <h3 class="fw-medium mb-1">Location</h3>
                            <h4 class="fs-5"><i class="fa-solid fa-location-dot text-main d-inline me-2"></i><span
                                    class="text-muted">Adresssssssssssss</span></h4>
                        </div>
                        <div class="gender">
                            <h3 class="fw-medium mb-1">Gender</h3>
                            <h4 class="fs-5"><i class="fa-solid fa-venus-mars d-inline me-2 text-main"></i><span
                                    class="text-muted">female</span></h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Birthdate mb-4">
                            <h3 class="fw-medium mb-1">Birthdate</h3>
                            <h4 class="fs-5"><i class="fa-regular fa-calendar d-inline me-2 text-main"></i><span
                                    class="text-muted">25 May 1999</span></h4>
                        </div>
                        <div class="Nationality">
                            <h3 class="fw-medium mb-1">Nationality</h3>
                            <h4 class="fs-5"><i class="fa-solid fa-flag d-inline me-2 text-main"></i><span
                                    class="text-muted">Saudi</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 gap-5">
            <div class="col-xl-8 border border-1 border-main rounded-3 p-5">
                <h2 class="text-main">What can Amany Ali offer</h2>
                <div class="d-flex gap-5">
                    <a class="btn-main">Meal Preparation</a>
                    <a class="btn-main">Household Tasks</a>
                    <a class="btn-main">Physical Care</a>
                </div>
            </div>
        </div>
        <div class="row mb-4 gap-5">
            <div class="col-xl-8 border border-1 border-main rounded-3 p-5">
                <h2 class="text-main">Professional information</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="Job-title mb-4">
                            <h3 class="fw-medium mb-1">Job title</h3>
                            <h4 class="fs-5"><i class="fa-solid fa-user-nurse text-main d-inline me-2"></i><span
                                    class="text-muted">Nurse</span></h4>
                        </div>
                        <div class="Fees">
                            <h3 class="fw-medium mb-1">Fees</h3>
                            <h4 class="fs-5"><i class="fa-solid fa-money-bills d-inline me-2 text-main"></i><span
                                    class="text-muted">10$/hr</span></h4>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="Career-level mb-4">
                            <h3 class="fw-medium mb-1">Career level</h3>
                            <h4 class="fs-5"><i class="fa fa-chart-line d-inline me-2 text-main"></i><span
                                    class="text-muted">Experienced</span></h4>
                        </div>
                        <div class="experience">
                            <h3 class="fw-medium mb-1">Years of experience</h3>
                            <h4 class="fs-5"><i class="fa-solid fa-medal text-main me-2 d-inline"></i><span
                                    class="text-muted">3 years</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4 gap-5">
            <div class="col-xl-8 border border-1 border-main rounded-3 p-5">
                <h2 class="text-main">Languages</h2>
                <div class="d-flex gap-5">
                    <a class="btn-main">Arabic - Fluent</a>
                    <a class="btn-main">English - Advanced</a>
                </div>
            </div>
        </div>
    </div>
</section>