@media (max-width: 767px) {
  .col-sm-12 {
    img {
      display: block;
      margin: auto;
    }
  }
  .col-sm-12 {
    .content {
      text-align: center;
    }
    .btns {
      justify-content: center;
      align-items: center;
    }
  }
  .nurse-info {
    .d-block {
      display: none !important;
    }
  }
}
@media (max-width: 1200px) {
  .nurse-info {
    .d-block {
      display: none !important;
    }
  }
  #bio.position-fixed.w-40,
  #persola.position-fixed.w-40,
  #prof.position-fixed.w-40 {
    width: 80% !important;
  }
}
