<section class="container">
    <h1 class="text-main fw-medium my-5">TERMS OF SERVICE</h1>
    <div class="mb-5">
        <h2 class="text-main mb-2">Overview</h2>
        <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore
            magna
            aliqua. Vitae et leo duis ut. Erat imperdiet sed euismod nisi porta. Turpis egestas pretium aenean pharetra
            magna ac
            placerat. Odio ut enim blandit volutpat maecenas volutpat blandit. Feugiat in fermentum posuere urna nec.
            Lorem
            sed
            risus ultricies tristique. Sed id semper risus in hendrerit gravida rutrum quisque. Sit amet nulla facilisi
            morbi. Risus
            nullam eget felis eget nunc lobortis mattis aliquam faucibus. Habitasse platea dictumst vestibulum rhoncus
            est
            pellentesque. Mattis enim ut tellus elementum sagittis vitae et.</p>
    </div>
    <div class="mb-5">
        <h2 class="text-main mb-2">Section 1 - Introduction</h2>
        <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore
            magna
            aliqua. Vitae et leo duis ut. Erat imperdiet sed euismod nisi porta. Turpis egestas pretium aenean pharetra
            magna ac
            placerat. Odio ut enim blandit volutpat maecenas volutpat blandit. Feugiat in fermentum posuere urna nec.
            Lorem
            sed
            risus ultricies tristique. Sed id semper risus in hendrerit gravida rutrum quisque. Sit amet nulla facilisi
            morbi. Risus
            nullam eget felis eget nunc lobortis mattis aliquam faucibus. Habitasse platea dictumst vestibulum rhoncus
            est
            pellentesque. Mattis enim ut tellus elementum sagittis vitae et.</p>
    </div>
    <div class="mb-5">
        <h2 class="text-main mb-2">Section 2 - General conditions</h2>
        <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore
            magna
            aliqua. Vitae et leo duis ut. Erat imperdiet sed euismod nisi porta. Turpis egestas pretium aenean pharetra
            magna ac
            placerat. Odio ut enim blandit volutpat maecenas volutpat blandit. Feugiat in fermentum posuere urna nec.
            Lorem
            sed
            risus ultricies tristique. Sed id semper risus in hendrerit gravida rutrum quisque. Sit amet nulla facilisi
            morbi. Risus
            nullam eget felis eget nunc lobortis mattis aliquam faucibus. Habitasse platea dictumst vestibulum rhoncus
            est
            pellentesque. Mattis enim ut tellus elementum sagittis vitae et.</p>
    </div>
    <div class="mb-5">
        <h2 class="text-main mb-2">Section 3 - Reservation and Booking Services</h2>
        <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore
            magna
            aliqua. Vitae et leo duis ut. Erat imperdiet sed euismod nisi porta. Turpis egestas pretium aenean pharetra
            magna ac
            placerat. Odio ut enim blandit volutpat maecenas volutpat blandit. Feugiat in fermentum posuere urna nec.
            Lorem
            sed
            risus ultricies tristique. Sed id semper risus in hendrerit gravida rutrum quisque. Sit amet nulla facilisi
            morbi. Risus
            nullam eget felis eget nunc lobortis mattis aliquam faucibus. Habitasse platea dictumst vestibulum rhoncus
            est
            pellentesque. Mattis enim ut tellus elementum sagittis vitae et.</p>
    </div>
    <div class="mb-5">
        <h2 class="text-main mb-2">Section 4 - User Responsibilities and Conduct</h2>
        <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore
            magna
            aliqua. Vitae et leo duis ut. Erat imperdiet sed euismod nisi porta. Turpis egestas pretium aenean pharetra
            magna ac
            placerat. Odio ut enim blandit volutpat maecenas volutpat blandit. Feugiat in fermentum posuere urna nec.
            Lorem
            sed
            risus ultricies tristique. Sed id semper risus in hendrerit gravida rutrum quisque. Sit amet nulla facilisi
            morbi. Risus
            nullam eget felis eget nunc lobortis mattis aliquam faucibus. Habitasse platea dictumst vestibulum rhoncus
            est
            pellentesque. Mattis enim ut tellus elementum sagittis vitae et.</p>
    </div>
    <div class="mb-5">
        <h2 class="text-main mb-2">Section 5 - Payment and Cancellation</h2>
        <p class="lh-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna
            aliqua. Vitae et leo duis ut. Erat imperdiet sed euismod nisi porta. Turpis egestas pretium aenean pharetra
            magna ac
            placerat. Odio ut enim blandit volutpat maecenas volutpat blandit. Feugiat in fermentum posuere urna nec.
            Lorem sed
            risus ultricies tristique. Sed id semper risus in hendrerit gravida rutrum quisque. Sit amet nulla facilisi
            morbi. Risus
            nullam eget felis eget nunc lobortis mattis aliquam faucibus. Habitasse platea dictumst vestibulum rhoncus
            est
            pellentesque. Mattis enim ut tellus elementum sagittis vitae et.
            Venenatis cras sed felis eget velit aliquet sagittis id consectetur. Nec sagittis aliquam malesuada
            bibendum. Lacus sed
            turpis tincidunt id aliquet risus feugiat in. Aenean sed adipiscing diam donec adipiscing tristique. Proin
            sed libero
            enim sed faucibus. Dui sapien eget mi proin sed libero. At quis risus sed vulputate. Elit eget gravida cum
            sociis
            natoque penatibus et. Laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean. Sit amet
            luctus venenatis
            lectus magna fringilla urna. Elit ut aliquam purus sit.</p>
    </div>
</section>