<section class="register">
    <div class="container-fluied">
        <div class="row g-0 align-items-start">
            <div class="col-md-6 col-sm-12 position-fixed vh-100 d-block pic">
                <picture>
                    <img class="w-100 h-100 d-block " src="./assets/images/login-customer-image.jpg" />
                </picture>
                <div class="overlay"></div>
                <div class="overlay-text w-75">
                    <h2 class="fs-1 mb-4">Welcome to</h2>
                    <h2 class="fs-1 mb-4">Caregiver</h2>
                    <p class="mb-4 fs-5 lh-base fw-light text-break">We are thrilled to have you here and hope that you
                        find
                        everything
                        you
                        are
                        <br /> looking
                        for. Enjoy
                        your stay!
                    </p>
                </div>
                <div class="overlay-text-bottom  w-75">
                    <p class="fs-3 fw-light mb-4">Don't have an account ?</p>
                    <a class="cursor-pointer text-light fs-3 font-i" routerLink="/register">Sign Up</a>
                </div>
            </div>
            <div class="col-lg-6 data py-5 col-md-12 ms-auto">
                <div class="w-100 h-100 d-flex justify-content-center container px-5 flex-column">
                    <a class="mb-5 text-main text-center fs-3 fw-semibold" routerLink="/home">Logo</a>
                    <form class="fw-medium main-text-color" (ngSubmit)="handleupdate(email)"
                        [formGroup]="UpdatePasswordForm">
                        <h1 class="fs-3 mb-5 text-main position-relative">Forgot password</h1>
                        <p class="fs-5 text-main mb-5 text-break text-muted lh-base fw-lighter">You are setting up a new
                            password for your account linked with {{email}}</p>
                        <div class="mb-4">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group">
                                <input #InputPassword formControlName="password" type="password" class="form-control"
                                    id="password">
                                <button class="btn btn-outline-success" type="button"
                                    (click)="togglePasswordVisibility(InputPassword)">
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                            </div>
                            <ng-container
                                *ngIf="UpdatePasswordForm.get('password')?.touched ||InputPassword.value.length>0">
                                <p *ngIf="UpdatePasswordForm.get('password')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">
                                    password is
                                    required!</p>
                                <p *ngIf="UpdatePasswordForm.get('password')?.getError('pattern')"
                                    class="alert alert-danger p-2 my-2">
                                    Password must start with an uppercase letter, followed by 6 to 20 lowercase letters
                                    or digits!</p>
                            </ng-container>
                        </div>
                        <div class="mb-4">
                            <label for="rePassword" class="form-label">Confirm Password:</label>
                            <div class="input-group">
                                <input #Inputrepassword formControlName="rePassword" type="password"
                                    class="form-control" id="rePassword">
                                <button class="btn btn-outline-success" type="button"
                                    (click)="togglePasswordVisibility(Inputrepassword)">
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                            </div>
                            <ng-container
                                *ngIf="UpdatePasswordForm.get('rePassword')?.touched ||Inputrepassword.value.length>0">
                                <p *ngIf="UpdatePasswordForm.get('rePassword')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">
                                    Confirm Password is required!</p>
                                <p *ngIf="UpdatePasswordForm.get('rePassword')?.getError('missmatch')"
                                    class="alert alert-danger p-2 my-2">
                                    Confirm Password dose not match Password</p>
                            </ng-container>
                        </div>
                        <div class="mb-4 acc  d-none">
                            <p class="fs-6 fw-light mb-2">Don't have an account ?</p>
                            <a class="cursor-pointer fs-6 font-i text-main" routerLink="/register">Sign Up</a>
                        </div>
                        <button [disabled]="UpdatePasswordForm.invalid" type="submit"
                            class="btn-main mb-3 d-block m-auto w-30">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                            submit</button>
                    </form>
                    <p *ngIf="message" class="alert alert-danger p-2 my-2 ">{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</section>