<nav class="navbar grey-text-color py-4 fw-medium font-sm navbar-expand-lg">
  <div class="container-fluid px-5">
    <a class="navbar-brand me-5 text-main" routerLink="/home">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="text-main fw-bold">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="text-main fw-bold">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="text-main fw-bold">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="text-main fw-bold">Contact us</a>
        </li>
      </ul>
      <!--* user as registrations -->
      <ul *ngIf="!userToken" class="blank-user navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a class="btn-main-light" routerLink="/signin">Log in</a>
        </li>
        <li class="nav-item">
          <a class="btn-main" routerLink="/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <i class="fa-solid fa-heart-pulse text-main me-2"></i>
          <a class="" routerLink="/registerFormCaregiver">Caregiver?</a>
        </li>
      </ul>
      <!--* user as blank -->
      <ul *ngIf="userToken" class="registration-user navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item" (click)="SignOut()">
          <a class="btn-main" routerLink="/home">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>