<section class="register">
    <div class="container-fluied">
        <div class="row g-0">
            <div class="col-md-6 col-sm-12 position-fixed vh-100  d-block pic">
                <picture class="h-100">
                    <img class="w-100 h-100 d-block" src="./assets/images/register-customer-image.jpg" />
                </picture>
                <div class="overlay"></div>
                <div class="overlay-text w-75">
                    <h2 class="fs-1 mb-4">Welcome to</h2>
                    <h2 class="fs-1 mb-4">Caregiver</h2>
                    <p class="mb-4 fs-5 lh-base fw-light text-break">We are thrilled to have you here and hope that you
                        find
                        everything
                        you
                        are
                        <br /> looking
                        for. Enjoy
                        your stay!
                    </p>
                </div>
                <div class="overlay-text-bottom  w-75">
                    <p class="fs-3 fw-light mb-4">Already have an account ?</p>
                    <a class="cursor-pointer text-light fs-3 font-i" routerLink="/signin">Sign in</a>
                </div>
            </div>
            <div class="col-lg-6 data py-5 col-md-12 ms-auto ">
                <div class="w-100 h-100 d-flex justify-content-center container px-5 flex-column">
                    <a class="mb-5 text-main text-center fs-3 fw-semibold" routerLink="/home">Logo</a>
                    <form class="fw-medium main-text-color" [formGroup]="RegisterForm" (submit)="handleRegister()">
                        <div class="d-flex justify-content-between mb-3">
                            <h1 class="fs-3 fw-medium text-main">Sign Up</h1>
                        </div>
                        <!-- firstname -->
                        <div class="mb-4 ">
                            <label for="FirstName" class="form-label">First Name</label>
                            <input #inputFirstName formControlName="FirstName" type="text" class="form-control"
                                id="FirstName">
                            <ng-container
                                *ngIf="RegisterForm.get('FirstName')?.touched ||inputFirstName .value.length>0">
                                <p *ngIf="RegisterForm.get('FirstName')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">First Name is required!</p>
                                <p *ngIf="RegisterForm.get('FirstName')?.getError('minlength')"
                                    class="alert alert-danger p-2 my-2">First Name must be at least 3 characters long!
                                </p>
                                <p *ngIf="RegisterForm.get('FirstName')?.getError('maxlength')"
                                    class="alert alert-danger p-2 my-2">First Name
                                    cannot exceed 20
                                    characters!</p>
                            </ng-container>
                        </div>
                        <!-- LastName -->
                        <div class="mb-4 ">
                            <label for="LastName" class="form-label">Last Name</label>
                            <input #inputLastName formControlName="LastName" type="text" class="form-control"
                                id="LastName">
                            <ng-container *ngIf="RegisterForm.get('LastName')?.touched ||inputLastName.value.length>0">
                                <p *ngIf="RegisterForm.get('LastName')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">Last Name is required!</p>
                                <p *ngIf="RegisterForm.get('LastName')?.getError('minlength')"
                                    class="alert alert-danger p-2 my-2">Last Name must be at least 3 characters long!
                                </p>
                                <p *ngIf="RegisterForm.get('LastName')?.getError('maxlength')"
                                    class="alert alert-danger p-2 my-2">Last Name cannot exceed 20 characters!</p>
                            </ng-container>
                        </div>
                        <!-- Bio -->
                        <div class="mb-4 ">
                            <label for="bio" class="form-label">Bio</label>
                            <textarea #inputbio formControlName="Bio" type="text" class="form-control" id="bio"
                                rows="5"></textarea>
                        </div>
                        <!-- Gender -->
                        <div class="mb-4">
                            <p class="form-label">Gender</p>
                            <input type="radio" class="btn-check" formControlName="Gender" id="male" [value]="1">
                            <label class="btn border px-4 py-2 text-muted me-4" for="male">Male</label>
                            <input type="radio" class="btn-check" formControlName="Gender" id="female" [value]="2">
                            <label class="btn border px-4 py-2 text-muted " for="female">Female</label>
                        </div>
                        <!-- Birthdate -->
                        <div class="mb-4">
                            <label for="Birthdate" class="form-label">Birthdate</label>
                            <input #inputBirthdate formControlName="Birthdate" type="date"
                                class="form-control text-muted" id="Birthdate" name="Birthdate" min="1924-01-01"
                                max="2004-12-31">
                            <ng-container
                                *ngIf="RegisterForm.get('Birthdate')?.touched && RegisterForm.get('Birthdate')?.hasError('required')">
                                <p class="alert alert-danger p-2 my-2">Birthdate is required!</p>
                            </ng-container>
                            <ng-container
                                *ngIf="RegisterForm.get('Birthdate')?.touched && RegisterForm.get('Birthdate')?.hasError('ageRange')">
                                <p class="alert alert-danger p-2 my-2">this date is invalid(Birthdate must be between 10
                                    and 100 years) !
                                </p>
                            </ng-container>
                        </div>
                        <!-- Nationality -->
                        <div class="mb-4">
                            <label for="Nationality" class="form-label">Nationality</label>
                            <div class="input-group">
                                <a class="btn btn-outline-success dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Select Nationality</a>
                                <ul class="dropdown-menu dropdown-menu-bottom">
                                    <li *ngFor="let Nationality of countries">
                                        <a class="dropdown-item cursor-pointer"
                                            (click)="selectNationality(Nationality)">{{
                                            Nationality }}</a>
                                    </li>
                                </ul>
                                <input #NationalityInput type="text" class="form-control"
                                    aria-label="Text input with dropdown button" [value]="Nationality" id="Nationality"
                                    name="Nationality" formControlName="Nationality" />
                            </div>
                            <ng-container
                                *ngIf="RegisterForm.get('Nationality')?.touched ||NationalityInput .value.length>0">
                                <p *ngIf="RegisterForm.get('Nationality')?.getError('minlength')"
                                    class="alert alert-danger p-2 my-2">Nationality must
                                    be at least 2 characters long!
                                </p>
                                <p *ngIf="RegisterForm.get('Nationality')?.getError('maxlength')"
                                    class="alert alert-danger p-2 my-2">Nationality
                                    cannot exceed 20
                                    characters!</p>
                            </ng-container>
                        </div>
                        <!-- Email -->
                        <div class="mb-4">
                            <label for="Email" class="form-label">Email address</label>
                            <input #inputEmail formControlName="Email" type="Email" class="form-control" id="Email">
                            <ng-container *ngIf="RegisterForm.get('Email')?.touched ||inputEmail.value.length>0">
                                <p *ngIf="RegisterForm.get('Email')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">Email
                                    is
                                    required!</p>
                                <p *ngIf="RegisterForm.get('Email')?.getError('email')"
                                    class="alert alert-danger p-2 my-2">Invalid
                                    Email format!</p>
                            </ng-container>
                        </div>
                        <!--password-->
                        <div class="mb-4">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group">
                                <input #InputPassword formControlName="Password" type="password" class="form-control"
                                    id="password">
                                <button class="btn btn-outline-success" type="button"
                                    (click)="togglePasswordVisibility(InputPassword)">
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                            </div>
                            <ng-container *ngIf="RegisterForm.get('Password')?.touched ||InputPassword.value.length>0">
                                <p *ngIf="RegisterForm.get('Password')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">
                                    password is
                                    required!</p>
                                <p *ngIf="RegisterForm.get('Password')?.getError('pattern')"
                                    class="alert alert-danger p-2 my-2">
                                    Password must start with an uppercase letter, followed by 6 to 20 lowercase letters
                                    or digits!</p>
                            </ng-container>
                        </div>
                        <!--Confirm password-->
                        <div class="mb-4">
                            <label for="ConfirmPassword" class="form-label">Confirm Password:</label>
                            <div class="input-group">
                                <input #ConfirmPassword formControlName="ConfirmPassword" type="password"
                                    class="form-control" id="ConfirmPassword">
                                <button class="btn btn-outline-success" type="button"
                                    (click)="togglePasswordVisibility(ConfirmPassword)">
                                    <i class="fa-regular fa-eye"></i>
                                </button>
                            </div>
                            <ng-container
                                *ngIf="RegisterForm.get('ConfirmPassword')?.touched ||ConfirmPassword.value.length<0">
                                <p *ngIf="RegisterForm.get('ConfirmPassword')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">
                                    Confirm Password is required!</p>
                                <p *ngIf="RegisterForm.get('ConfirmPassword')?.getError('mismatch')"
                                    class="alert alert-danger p-2 my-2">
                                    Confirm Password dose not match Password</p>
                            </ng-container>
                        </div>
                        <!-- phone -->
                        <div class="mb-4">
                            <label for="phone" class="form-label">phone:</label>
                            <input #InputPhone formControlName="phoneNumber" type="tel" class="form-control" id="phone">
                            <ng-container *ngIf="RegisterForm.get('phoneNumber')?.touched ||InputPhone.value.length>0">
                                <p *ngIf="RegisterForm.get('phoneNumber')?.getError('required')"
                                    class="alert alert-danger p-2 my-2">
                                    phone is
                                    required!</p>
                                <p *ngIf="RegisterForm.get('phoneNumber')?.getError('pattern')"
                                    class="alert alert-danger p-2 my-2">
                                    Invalid phone number format!</p>
                            </ng-container>
                        </div>
                        <div class="form-check mb-4">
                            <input #Inputterms formControlName="terms" class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                I agree to Terms And Conditions & Privacy Policy
                            </label>
                        </div>
                        <div class="mb-4 acc  d-none">
                            <p class="fs-6 fw-light mb-2">Already have an account ?</p>
                            <a class="cursor-pointer fs-6 font-i text-main" routerLink="/signin">Sign in</a>
                        </div>
                        <button [disabled]="RegisterForm.invalid" type="submit"
                            class="btn-main mb-3 d-block m-auto w-30">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                            Sign up</button>
                    </form>
                    <p *ngIf="message" class="alert alert-danger p-2 my-2 ">{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</section>