<section class="manage-nurses px-2">
    <h1 class="fs-2 mb-4">Manage Baby Sitters </h1>
    <h3 class="position-relative fs-4 ps-4">All ({{babysitters?.length}})</h3>
    <input #searchinput class="form-control w-25 d-block ms-auto mb-4" type="search" placeholder="Search"
        aria-label="Search" [(ngModel)]="term">
    <table class="table table-responsive">
        <thead>
            <tr class="text-center">
                <th></th>
                <th>Name</th>
                <th>Start Date</th>
                <th>Total Customers</th>
                <th>Revenu</th>
                <th>Price</th>
                <th>Profile</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let babysitter of babysitters|search:term" class="text-center">
                <td>
                    <picture><img src="../../../assets/images/nurse-pic.png" height="50px" width="50px" /></picture>
                </td>
                <td>{{babysitter.firstName}} {{babysitter.lastName}}</td>
                <td>{{babysitter.joinedDate}}</td>
                <td>{{babysitter.totalCustomers}}</td>
                <td>{{babysitter.totalRevenu}}</td>
                <td>{{babysitter.pricePerDay}}</td>
                <td scope="row"><a class="btn-main my-auto ">View Profile</a></td>
                <td><i class="fa-solid fa-trash-can" role="button" (click)="delete(babysitter.id)"></i></td>
            </tr>
        </tbody>
    </table>
</section>