<section class="manage-nurses px-2">
    <h1 class="fs-2 mb-4">Manage Baby Sitters </h1>
    <h3 class="position-relative fs-4 ps-4">All ({{babysitters?.length}})</h3>
    <input #searchinput class="form-control w-25 d-block ms-auto mb-4" type="search" placeholder="Search"
        aria-label="Search" [(ngModel)]="term">
    <table class="table table-responsive xl">
        <thead>
            <tr class="text-center">
                <th>Name</th>
                <th>Start Date</th>
                <th>Total Customers</th>
                <th>Revenu</th>
                <th>Price</th>
                <th>Profile</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let babysitter of babysitters|search:term" class="text-center">
                <td class="d-flex justify-content-center align-items-center">
                    <picture><img class="rounded-circle" [src]="base64Image+babysitter.photo" height="50px"
                            width="50px" /></picture>
                    <p class="w-50">{{babysitter.firstName}} {{babysitter.lastName}}</p>
                </td>
                <td>{{babysitter.joinedDate}}</td>
                <td>{{babysitter.totalCustomers}}</td>
                <td>{{babysitter.totalRevenu}}</td>
                <td>{{babysitter.pricePerDay}}</td>
                <td scope="row"><a class="btn-main my-auto px-2" [routerLink]="['/caregiverprofile',babysitter.id]">View
                        Profile</a></td>
                <td><i class="fa-solid fa-trash-can" role="button" (click)="delete(babysitter.id)"></i></td>
            </tr>
        </tbody>
    </table>
    <div class="container-fluid sm d-none">
        <table class="table table-responsive">
            <thead>
                <tr class="text-center align-middle">
                    <th class="py-4 fs-small">caregiver Name</th>
                    <th class="py-4 fs-small">Total Customers</th>
                    <th class="py-4 fs-small">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let babysitter of babysitters|search:term" class="text-center">
                    <td class="p-4">{{babysitter.firstName}}</td>
                    <td>{{babysitter.totalCustomers}}</td>
                    <td scope="row"><a class="btn-main my-auto px-2"
                            [routerLink]="['/caregiverprofile',babysitter.id]">View
                            Profile</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>