<div class="pending d-flex justify-content-center align-items-center vh-100">
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <img class="w-20" src="./assets/images/pending.webp">
        <h2 class="fs-2 text-main">Pending</h2>
        <p class="fs-6">Your request will be processed within 12 to 48 hours</p>
        <p class="fs-5 alert alert-success">We will notify you by email once your request is accepted. You will then
            need to
            log in again</p>
        <button class="btn-main mb-3 mt-5 d-block m-auto w-30"(click)="login()">Log in</button>
    </div>
</div>