<section class="forgetpassword2">
    <div class="container-fluied">
        <div class="row g-0 align-items-start">
            <div class="col-md-6 col-sm-12 position-relative">
                <picture>
                    <img class="w-100 " src="./assets/images/login-customer-image.jpg" />
                </picture>
                <div class="overlay"></div>
                <div class="overlay-text w-75">
                    <h2 class="fs-1 mb-4">Welcome to</h2>
                    <h2 class="fs-1 mb-4">Caregiver</h2>
                    <p class="mb-4 fs-5 lh-base fw-light text-break">We are thrilled to have you here and hope that you
                        find
                        everything
                        you
                        are
                        <br /> looking
                        for. Enjoy
                        your stay!
                    </p>
                </div>
                <div class="overlay-text-bottom  w-75">
                    <p class="fs-3 fw-light mb-4">Don't have an account ?</p>
                    <a class="cursor-pointer text-light fs-3 font-i" routerLink="/signin">Sign Up</a>
                </div>
            </div>
            <div class="col-md-6 py-5 col-sm-12">
                <div class="w-100 h-100 d-flex justify-content-center container px-5 flex-column">
                    <a class="mb-5 text-main text-center fs-3 fw-semibold" routerLink="/home">Logo</a>
                    <form class="fw-medium main-text-color" (ngSubmit)="handleForgetpassword(email)" action=""
                        [formGroup]="forgetpasswordForm">
                        <h1 class="fs-3 mb-5 text-main position-relative">Forgot password</h1>
                        <p class="fs-5 text-main mb-5 text-break text-muted lh-base fw-lighter">A verification code was
                            sent to you, please check your messages.
                            Please enter the 4 digits code sent to: {{email}}</p>
                        <img class="text-center d-block m-auto  mt-4 mb-4" src="./assets/images/forget-password.png">
                        <div class="mb-4 w-50 m-auto">
                            <label for="code" class="form-label ">Enter code</label>
                            <input formControlName="resetCode" type="text" class="form-control" id="code" />
                        </div>
                        <button type=" submit" class="btn-main mb-3 d-block m-auto w-30">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                            Verify code</button>
                        <p class="my-4 text-center">{{ formattedTime }}</p>

                        <a role="button" class="cursor-pointer text-center text-decoration-underline d-block"
                            (click)="resendpassword(email)">Resend code</a>

                    </form>
                    <div *ngIf="message">
                        <p class="alert p-2 my-2" [ngClass]="{'alert-success': success, 'alert-danger': !success}">
                            {{ message }}
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>