<section class="bg-main text-light text-center py-5 z-2">
    <div class="container">
        <div class=" border-0 pb-4 border-bottom">
            <a class=" navbar-brand   fs-2" routerLink="/"><img src="./assets/images/WhitrLogo.svg"></a>
        </div>
        <ul class="mb-2 gap-3 d-flex justify-content-center py-4 fs-6">
            <li>
                <a class="nav-link" routerLink="/about">About us</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/services">Services</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/contact">Contact us</a>
            </li>
        </ul>
        <div class="w-50 m-auto text-break">
            <p>Welcome To Caregiver Site</p>
        </div>
        <div class="row justify-content-between align-items-center">
            <ul class="mb-2 gap-5 font-sm d-flex justify-content-center py-4 col-lg-6 col-md-12 fw-light">
                <li>
                    <a class="nav-link" routerLink="/terms">Terms & Conditions</a>
                </li>
            </ul>
            <ul class="mb-2 gap-5 font-sm d-flex justify-content-center py-4 fs-4 col-lg-6 col-md-12">
                <li>
                    <a class="nav-link" target="_blank" href="https://www.facebook.com/"><i
                            class="fa-brands fa-facebook-f"></i></a>
                </li>
                <li>
                    <a class="nav-link" target="_blank" href="https://www.instagram.com/"><i
                            class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a class="nav-link" target="_blank" href="https://www.facebook.com/"><i
                            class="fa-brands fa-x-twitter"></i></a>
                </li>
            </ul>
        </div>
        <p>© 2024. Malk el ra7ma. All rights reserved.</p>
    </div>
</section>