<section class="forgetpassword">
    <div class="container-fluied">
        <div class="row g-0 align-items-start">
            <div class="col-md-6 col-sm-12 position-relative">
                <picture>
                    <img class="w-100 d-block" src="./assets/images/login-customer-image.jpg" height="800px" />
                </picture>
                <div class="overlay"></div>
                <div class="overlay-text w-75">
                    <h2 class="fs-1 mb-4">Welcome to</h2>
                    <h2 class="fs-1 mb-4">Caregiver</h2>
                    <p class="mb-4 fs-5 lh-base fw-light text-break">We are thrilled to have you here and hope that you
                        find
                        everything
                        you
                        are
                        <br /> looking
                        for. Enjoy
                        your stay!
                    </p>
                </div>
                <div class="overlay-text-bottom  w-75">
                    <p class="fs-3 fw-light mb-4">Don't have an account ?</p>
                    <a class="cursor-pointer text-light fs-3 font-i" routerLink="/signin">Sign Up</a>
                </div>
            </div>
            <div class="col-md-6 py-5 col-sm-12">
                <div class="w-100 h-100 d-flex justify-content-center container px-5 flex-column">
                    <a class="mb-5 text-main text-center fs-3 fw-semibold" routerLink="/home">Logo</a>
                    <form class="fw-medium main-text-color" (ngSubmit)="handleForgetpassword(forgetpasswordForm.get('email')?.value)" action=""
                        [formGroup]="forgetpasswordForm">
                        <h1 class="fs-3 mb-5 text-main position-relative">Forgot password</h1>
                        <p class="fs-5 text-main mb-5 text-break text-muted lh-base fw-lighter">Please enter you phone
                            number <br /> below to
                            receive a verification code to reset your password.</p>
                        <div class="mb-4">
                            <label for="email" class="form-label">Email address</label>
                            <input #inputEmail formControlName="email" type="email" class="form-control" id="email">
                        </div>
                        
                        <button type="submit" class="btn-main mb-3 d-block m-auto w-30">
                            <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                            Send code</button>
                    </form>
                    <p *ngIf="message" class="alert alert-danger p-2 my-2">{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</section>