$main-color: #004225;
$secondary-color: #FF8400;
$ternary-color: #FFCF9D;
$light-color: #F5F5DC;
$main-text-color: #061826;
$grey-text-color: #6B7280;
$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$font-family: "Encode Sans Expanded", sans-serif;
$rating-color: #FFB000;